

.row{
    margin-top: 50px;
    margin-bottom: 50px;
  }
  
  .masthead-text{
    height: 300px;
  }
  
  .form-control{
    height: 45px;
  }
 
  @media(max-width:768px){
      #login-dp{
          background-color: inherit;
          color: #fff;
      }
      #login-dp .bottom{
          background-color: inherit;
          border-top:0 none;
      }
  }
  
  
  .block-help {
          font-weight: 300;
      }
  
  .hide {
    display: none;
  }