body{
	background-color: #eee;
}
.card{
	background-color: #fff;
	width: 340px;
	border-radius: 10px;
	box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.head{
	color: #8d98aa;
	font-weight: bold;
	margin-left: 4px;
	font-weight: bold;
}
.error{
	font-size: 17px;
	color: #3c3e40;
	font-weight: bold;
}
.form-group label {
    display: flex;
    align-items: center;
}

.form-group label .fa {
    margin-left: 15px;
    margin-right: 5px;
}

.form-group p {
    margin-left: 15px;
}